<%= form_for(@task, url: :project_tasks ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :dateStart %><br>
    <%= f.date_select :dateStart, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :dateEnd %><br>
    <%= f.date_select :dateEnd, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :stats %><br>
    <%= f.text_field :stats, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id, :readonly => true, :class => "form-control" %>
  </div>
   <div class="field">
    <%= f.label :user_email %><br>
    <%= f.text_field :user_email, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
