<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @task.nome %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Datestart:</strong>
  <%= @task.dateStart %>
</p>

<p>
  <strong>Dateend:</strong>
  <%= @task.dateEnd %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @task.stats %>
</p>

<p>
  <strong>Projectid:</strong>
  <%= @task.project_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
