<p id="notice"><%= notice %></p>
<h1>Tarefa</h1>
<p>
  <strong>Nome:</strong>
  <%= @task.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Data de Inicio:</strong>
  <%= @task.dateStart %>
</p>

<p>
  <strong>Data de Finalização:</strong>
  <%= @task.dateEnd %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.stats %>
</p>

<p>
  <strong>Projectid:</strong>
  <%= @task.project_id %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @task.user_email %>
</p>

<%= link_to 'Edit', edit_project_task_path(@task.project_id, @task), class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', project_path(@task.project_id), class: "btn btn-default btn-sm" %>
