<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @task.nome %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Datestart:</strong>
  <%= @task.dateStart %>
</p>

<p>
  <strong>Dateend:</strong>
  <%= @task.dateEnd %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @task.stats %>
</p>

<p>
  <strong>Projectid:</strong>
  <%= @task.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_email %>
</p>

<%= link_to 'Edit', edit_project_task_path(@task.project_id, @task), class: "btn btn-default btn-sm" %> |
<%= link_to 'Back', project_path(@task.project_id), class: "btn btn-default btn-sm" %>
