<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Data" %><br>
    <%= f.date_select :date, :class => "form-control" %>
  </div>
  <!--<div class="field">
    < %= f.label :user_id %><br>
    < %= f.number_field :user_id, :readonly => true, :class => "form-control" %>
  </div>-->
  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, options_for_select(@u.map{|u| [u.email, u.id]}, :selected => @project.user_id), 
    {}, {:class => "form-control"} %>
  </div>
  <div class="field">
    <%= f.label "Status" %><br>
    <%= f.text_field :stats, :class => "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Salvar",class: "btn btn-primary btn-sm" %>
  </div>
  <br>
<% end %>
