<h1>Meus Projetos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.nome %></td>
        <td><%= project.description %></td>
        <td><%= project.date %></td>
        <td><%= project.stats %></td>
        <td><%= link_to 'Exibir', project, class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Editar', edit_project_path(project), class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Excluir', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Projeto', new_project_path, class: "btn btn-primary btn-sm" %>

<hr>

<h2>Minhas Tarefas</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tarefa</th>
      <th>Projeto</th>
      <th>Data de Inicio</th>
      <th>Data de Finalização</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectsPart.each do |proj| %>
    <% @tasks.each do |task| %>
    
    <% if task.project_id == proj.id %>

      <tr>
        <td><%= task.nome %></td>
        <td><%= proj.nome %></td>
        <td><%= task.dateStart %></td>
        <td><%= task.dateEnd %></td>
        <td><%= task.stats %></td>        
        <td><%= link_to 'Visualizar', proj, class: "btn btn-default btn-sm" %></td>
      </tr>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
