<p id="notice" class="bg-success"><%= notice %></p>

<h1>Projeto</h1>
<p>
  <strong>Nome:</strong>
  <%= @project.nome %>
</p>

<p>
  <strong>Data:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.stats %>
</p>


<p>
  <strong>Descrição:</strong>
  <%= @project.description %>
</p>

<hr>
<p>

 <h1>Tarefas</h1> 
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Inicio</th>
      <th>Data de Finalização</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= task.nome %></td>
        <td><%= task.dateStart %></td>
        <td><%= task.dateEnd %></td>
        <td><%= task.stats %></td>

        

        <td><%= link_to 'Visualizar', project_task_path(task.project_id, task), class: "btn btn-default btn-sm" %></td>

        
        <td>
          <% if task.user_email == @user.email || @user.id == @project.user_id %>
          <%= link_to 'Editar', edit_project_task_path(task.project_id, task), class: "btn btn-default btn-sm" %>
          <%end %>
        </td>

        <% if @user.id == @project.user_id || @user_id == 1%>
        <td><%= link_to 'Excluir', project_task_path(task.project_id, task), class: "btn btn-default btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
         
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</p>


<% if @project.user_id == @user.id %>  <!-- testa usuario - arrumar aqui -->

<%= link_to 'Nova Tarefa', new_project_task_path(@project), class: "btn btn-primary btn-sm" %>
<% end %>
<div >
<hr>

<p>
  <%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<h2>Escrever Mensagem</h2> 
<div class="container">
  <div class="row">
    <div class="col-sm-8 contact-form">
      <form id="contact" method="post" class="form" role="form">
        <div class="row">
          <div class="col-xs-6 col-md-6 form-group">
            <td><%= f.label 'Nome:' %></td>
            <%= f.text_field :name_user,:readonly => true, :class => "form-control" %>
          </div>
          <div class="col-xs-3 col-md-3 form-group">
            <td><%= f.label 'Id do Projeto:' %></td>
            <%= f.number_field :project_id,:readonly => true, :class => "form-control" %>
          </div>
          <div class="col-xs-3 col-md-3 form-group">
            <td><%= f.label 'Id de Usuário:' %></td>
            <%= f.number_field :user_id,:readonly => true, :class => "form-control" %>
          </div>
      </div>
      <%= f.text_area :message, :class => "form-control", :placeholder => "Message", :rows => "5" %>
      <br/>
      <%= f.date_select :data, :readonly => true, :class => "form-control" %>
      <div class="row">
       <div class="col-xs-12 col-md-12 form-group">
        <div class="actions">
          <%= submit_tag "Enviar", :class => "btn btn-primary pull-right", :type => "submit" %>
        </div>
     </form>
  </div>
</div>

<% end %>
<hr>
  <h2>Mensagens</h2>
  <br />
    <% @project.forums.each do |msg| %>
      <p>
        <strong><%= msg.name_user + " (" + @user.email + ")" %> </strong> (<%= msg.data %>): <br><%= msg.message %>
      </p>
      </br>
    <% end %>

</div>
