<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @project.nome %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @project.userId %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @project.stats %>
</p>

<p>
  <table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Description</th>
      <th>Datestart</th>
      <th>Dateend</th>
      <th>Stats</th>
      <th>Projectid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= task.nome %></td>
        <td><%= task.description %></td>
        <td><%= task.dateStart %></td>
        <td><%= task.dateEnd %></td>
        <td><%= task.stats %></td>
        <td><%= task.project_id %></td>
        <td><%= link_to 'Show', project_task_path(task.project_id, task) %></td>
        <td><%= link_to 'Edit', edit_project_task_path(task.project_id, task) %></td>
        <td><%= link_to 'Destroy', project_task_path(task.project_id, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'New Task', new_project_task_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
